@import "compass/css3";
@import "clearfix";
@import "pop-upwards";

$bgcolor: #57ad68;
$border_color: #fff;
$button_size: 60px;
$link_color: #fff;

.medium-toolbar-arrow-under:after {
    top: $button_size;
    border-color: $bgcolor transparent transparent transparent;
}

.medium-toolbar-arrow-over:before {
    top: -8px;
    border-color: transparent transparent $bgcolor transparent;
}

.medium-editor-toolbar {
    background-color: $bgcolor;
    li {
        padding: 0;
        button {
            height: $button_size;
            min-width: $button_size;
            background-color: transparent;
            border: none;
            border-right: 1px solid lighten($bgcolor, 20);
            color: $link_color;
            @include transition(background-color .2s ease-in, color .2s ease-in);
            &:hover {
                background-color: darken($bgcolor, 20);
                color: #fff;
            }
        }
        .medium-editor-button-active {
            background-color: darken($bgcolor, 30);
            color: #fff;
        }
        .medium-editor-button-last {
            border-right: none;
        }
    }
}

.medium-editor-toolbar-form-anchor {
    input {
        height: $button_size;
        background: $bgcolor;
        color: $link_color;
        &::-webkit-input-placeholder {
           color: #fff;
           color: rgba(#fff, .8);
        }
        &:-moz-placeholder { /* Firefox 18- */
           color: #fff;
           color: rgba(#fff, .8);
        }
        &::-moz-placeholder {  /* Firefox 19+ */
           color: #fff;
           color: rgba(#fff, .8);
        }
        &:-ms-input-placeholder {
           color: #fff;
           color: rgba(#fff, .8);
        }
    }
    a {
        color: $link_color;
    }
}

.medium-editor-placeholder:after {
    color: $border_color;
}
