// inspired by http://dribbble.com/shots/857472-Toolbar

@import "compass/css3";
@import "clearfix";
@import "pop-upwards";

$bgcolor: #dee7f0;
$border_color: #cdd6e0;
$button_size: 50px;
$link_color: #40648a;

.medium-toolbar-arrow-under:after,
.medium-toolbar-arrow-over:before {
    display: none;
}

.medium-editor-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    visibility: hidden;
    background-color: $bgcolor;
    background-color: rgba($bgcolor, .95);
    border: 1px solid $border_color;
    font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    @include background(linear-gradient(bottom, $bgcolor, rgba(#fff, 1)));
    @include border-radius(5px);
    @include box-shadow(0 2px 6px rgba(#000, .45));
    @include transition(top .075s ease-out,left .075s ease-out);
    ul {
        margin: 0;
        padding: 0;
    }

    li {
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        button {
            display: block;
            padding: 15px;
            height: $button_size;
            min-width: $button_size;
            background-color: transparent;
            color: $link_color;
            border: none;
            border-right: 1px solid $border_color;
            text-decoration: none;
            @include box-sizing(border-box);
            @include transition(background-color .2s ease-in, color .2s ease-in);
            &:hover {
                background-color: #5c90c7;
                background-color: rgba(#5c90c7, .45);
                color: #fff;
            }
        }
        .medium-editor-button-first {
            @include border-top-left-radius(5px);
            @include border-bottom-left-radius(5px);
        }
        .medium-editor-button-last {
            @include border-top-right-radius(5px);
            @include border-bottom-right-radius(5px);
        }
        .medium-editor-button-active {
            background-color: #5c90c7;
            background-color: rgba(#5c90c7, .45);
            color: #fff;
            @include background(linear-gradient(bottom, $bgcolor, rgba(#000, .1)));
        }
        .medium-editor-action-underline {
            text-decoration: underline;
        }

        .medium-editor-action-pre {
            font-family: 'Menlo', monospace;
            font-size: 12px;
            font-weight: 100;
            padding: 15px 0;
        }
    }
}

.medium-editor-toolbar-active {
    visibility: visible;
    -webkit-animation: pop-upwards 160ms forwards linear;
    -moz-animation: pop-upwards 160ms forwards linear;
    -ms-animation: pop-upwards 160ms forwards linear;
    -o-animation: pop-upwards 160ms forwards linear;
    animation: pop-upwards 160ms forwards linear;
    @include transition(top .075s ease-out,left .075s ease-out);
}

.medium-editor-action-bold {
    font-weight: bolder;
}

.medium-editor-action-italic {
    font-style: italic;
}

.medium-editor-toolbar-form-anchor {
    display: none;
    background: $bgcolor;
    color: #999;
    @include border-radius(5px);
    input, a {
        font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
    }
    input {
        margin: 0;
        padding: 6px;
        height: $button_size;
        width: 316px;
        background: $bgcolor;
        border: none;
        color: $border_color;
        @include box-sizing(border-box);
        &:focus {
            outline: 0;
            -moz-appearance: none;
            -webkit-appearance: none;
            // Prevent CSS conflicts.
            border: none;
            box-shadow: none;
        }
    }
    a {
        color: $link_color;
        font-weight: bolder;
        font-size: 24px;
        display: inline-block;
        margin: 0 10px;
        text-decoration: none;
    }
}

.medium-editor-placeholder {
    position: relative;
    &:after {
        position: absolute;
        top: 0;
        left: 0;
        content: attr(data-placeholder);
        color: $border_color;
        font-style: italic;
    }
}
