// inspired by http://dribbble.com/shots/857472-Toolbar

@import "compass/css3";
@import "clearfix";
@import "pop-upwards";

$bgcolor: #dee7f0;
$border_color: #cdd6e0;
$button_size: 50px;
$link_color: #40648a;

.medium-toolbar-arrow-under:after,
.medium-toolbar-arrow-over:before {
    display: none;
}

.medium-editor-toolbar {
    background-color: $bgcolor;
    background-color: rgba($bgcolor, .95);
    border: 1px solid $border_color;
    @include background(linear-gradient(bottom, $bgcolor, rgba(#fff, 1)));
    @include border-radius(2px);
    @include box-shadow(0 2px 6px rgba(#000, .45));

    li {
        button {
            height: $button_size;
            min-width: $button_size;
            background-color: transparent;
            border: none;
            border-right: 1px solid $border_color;
            color: $link_color;
            @include transition(background-color .2s ease-in, color .2s ease-in);
            &:hover {
                background-color: #5c90c7;
                background-color: rgba(#5c90c7, .45);
                color: #fff;
            }
        }
        .medium-editor-button-first {
            @include border-top-left-radius(2px);
            @include border-bottom-left-radius(2px);
        }
        .medium-editor-button-last {
            @include border-top-right-radius(2px);
            @include border-bottom-right-radius(2px);
        }
        .medium-editor-button-active {
            background-color: #5c90c7;
            background-color: rgba(#5c90c7, .45);
            color: #000;
            @include background(linear-gradient(bottom, $bgcolor, rgba(#000, .1)));
        }
    }
}

.medium-editor-toolbar-form-anchor {
    background: $bgcolor;
    color: #999;
    @include border-radius(2px);
    input {
        height: $button_size;
        background: $bgcolor;
        color: $link_color;
        @include box-sizing(border-box);
    }
    a {
        color: $link_color;
    }
}

.medium-editor-placeholder:after {
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-placeholder);
    color: $border_color;
    font-style: italic;
}
