// inspired by http://dribbble.com/shots/848100-Toolbar-Psd

// theme settings
$medium-editor-bgcolor: #fff;
$medium-editor-border-color: #a8a8a8;
$medium-editor-button-size: 50px;
$medium-editor-button-hover-text-color: #fff;
$medium-editor-button-active-text-color: #000;
$medium-editor-link-color: #889aac;
$medium-editor-border-radius: 5px;

// theme rules
.medium-toolbar-arrow-under:after,
.medium-toolbar-arrow-over:before {
    display: none;
}

.medium-editor-toolbar {
    background-color: $medium-editor-bgcolor;
    background-color: rgba($medium-editor-bgcolor, .95);
    border-radius: $medium-editor-border-radius;
    box-shadow: 0 2px 6px rgba(#000, .45);

    li {
        button {
            min-width: $medium-editor-button-size;
            height: $medium-editor-button-size;
            border: none;
            border-right: 1px solid $medium-editor-border-color;
            background-color: transparent;
            color: $medium-editor-link-color;
            box-shadow: inset 0 0 3px #f8f8e6;
            background: linear-gradient(to bottom, $medium-editor-bgcolor, rgba(#000, .2));
            text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
            transition: background-color .2s ease-in;
            &:hover {
                background-color: #fff;
                color: $medium-editor-button-hover-text-color;
                color: rgba(#000, .8);
            }
        }

        .medium-editor-button-first {
            border-top-left-radius: $medium-editor-border-radius;
            border-bottom-left-radius: $medium-editor-border-radius;
        }

        .medium-editor-button-last {
            border-top-right-radius: $medium-editor-border-radius;
            border-bottom-right-radius: $medium-editor-border-radius;
        }

        .medium-editor-button-active {
            background-color: #ccc;
            color: $medium-editor-button-active-text-color;
            color: rgba(#000, .8);
            background: linear-gradient(to top, $medium-editor-bgcolor, rgba(#000, .1));
        }
    }
}

.medium-editor-toolbar-form {
    background: $medium-editor-bgcolor;
    color: #999;
    border-radius: $medium-editor-border-radius;

    .medium-editor-toolbar-input {
        margin: 0;
        height: $medium-editor-button-size;
        background: $medium-editor-bgcolor;
        color: $medium-editor-border-color;
    }

    a {
        color: $medium-editor-link-color;
    }
}

.medium-editor-toolbar-anchor-preview {
    background: $medium-editor-bgcolor;
    color: $medium-editor-link-color;
    border-radius: $medium-editor-border-radius;
}

.medium-editor-placeholder:after {
    color: $medium-editor-border-color;
}
