// typography
$font-fixed: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;
$font-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif !default;

// ui / positioning
$z-toolbar: 2000 !default;
