@import "compass/css3";
@import "clearfix";

$bgcolor: #242424;
$button_size: 50px;

.medium-toolbar-arrow {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-style: solid;
}

.medium-toolbar-arrow-under:after {
    @extend .medium-toolbar-arrow;
    top: $button_size;
    border-width: 8px 8px 0 8px;
    border-color: $bgcolor transparent transparent transparent;
}

.medium-toolbar-arrow-over:before {
    @extend .medium-toolbar-arrow;
    top: -8px;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent $bgcolor transparent;
}

.medium-editor-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 600;
    visibility: hidden;
    background: $bgcolor;
    font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    @include border-radius(5px);
    @include box-shadow(0 0 3px #000);
    @include transition(top .075s ease-out,left .075s ease-out);
    ul {
        margin: 0;
        padding: 0;
    }

    li {
        float: left;
        list-style: none;
        button {
            display: block;
            padding: 15px;
            box-sizing: border-box;
            height: $button_size;
            width: $button_size;
            background: $bgcolor;
            color: #fff;
            border: 0;
            border-right: 1px solid #000;
            border-left: 1px solid #333;
            border-left: 1px solid rgba(#fff, .1);
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
            @include box-shadow(0 2px 2px rgba(0,0,0,0.3));
            @include transition(background-color .2s ease-in);
            &:hover {
                color: yellow;
                background-color: #000;
            }
        }
        .medium-editor-button-first {
            @include border-top-left-radius(5px);
            @include border-bottom-left-radius(5px);
        }
        .medium-editor-button-last {
            @include border-top-right-radius(5px);
            @include border-bottom-right-radius(5px);
        }
        .medium-editor-button-active {
            background-color: #000;
            color: #fff;
        }
        .medium-editor-action-underline {
            text-decoration: underline;
        }
    }
}

.medium-editor-toolbar-active {
    @include transition(top .075s ease-out,left .075s ease-out);
    visibility: visible;
    -webkit-animation: pop-upwards 160ms forwards linear;
    -moz-animation: pop-upwards 160ms forwards linear;
    -ms-animation: pop-upwards 160ms forwards linear;
    -o-animation: pop-upwards 160ms forwards linear;
    animation: pop-upwards 160ms forwards linear;
}


.medium-editor-action-bold {
    font-weight: bolder;
}

.medium-editor-action-italic {
    font-style: italic;
}

.medium-editor-toolbar-form-anchor {
    display: none;
    color: #999;
    input, a {
        font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
    }
    input {
        box-sizing: border-box;
        padding: 6px;
        height: $button_size;
        width: 316px;
        background: $bgcolor;
        border: none;
        color: #ccc;
        &:focus {
            outline: 0;
            -moz-appearance: none;
            -webkit-appearance: none;
        }
    }
    a {
        color: #fff;
        font-weight: bolder;
        font-size: 24px;
        display: inline-block;
        margin: 0 10px;
        text-decoration: none;
    }
}

.medium-editor-placeholder {
    position: relative;
    &:after {
        position: absolute;
        top: 0;
        left: 0;
        content: attr(data-placeholder);
        color: #b3b3b1;
        font-style: italic;
    }

}

@-webkit-keyframes pop-upwards {
    0% {
        @include transform(matrix(0.97,0,0,1,0,12));
        @include opacity(0);
    }

    20% {
        @include transform(matrix(0.99,0,0,1,0,2));
        @include opacity(.7);

    }

    40% {
        @include transform(matrix(1,0,0,1,0,-1));
        @include opacity(1);
    }

    70% {
        @include transform(matrix(1,0,0,1,0,0));
        @include opacity(1);
    }

    100% {
        @include transform(matrix(1,0,0,1,0,0));
        @include opacity(1);

    }
}

@-moz-keyframes pop-upwards {
    0% {
        @include transform(matrix(0.97,0,0,1,0,12));
        @include opacity(0);
    }

    20% {
        @include transform(matrix(0.99,0,0,1,0,2));
        @include opacity(.7);

    }

    40% {
        @include transform(matrix(1,0,0,1,0,-1));
        @include opacity(1);
    }

    70% {
        @include transform(matrix(1,0,0,1,0,0));
        @include opacity(1);
    }

    100% {
        @include transform(matrix(1,0,0,1,0,0));
        @include opacity(1);

    }
}

@-o-keyframes pop-upwards {
    0% {
        @include transform(matrix(0.97,0,0,1,0,12));
        @include opacity(0);
    }

    20% {
        @include transform(matrix(0.99,0,0,1,0,2));
        @include opacity(.7);

    }

    40% {
        @include transform(matrix(1,0,0,1,0,-1));
        @include opacity(1);
    }

    70% {
        @include transform(matrix(1,0,0,1,0,0));
        @include opacity(1);
    }

    100% {
        @include transform(matrix(1,0,0,1,0,0));
        @include opacity(1);

    }
}

@keyframes pop-upwards {
    0% {
        @include transform(matrix(0.97,0,0,1,0,12));
        @include opacity(0);
    }

    20% {
        @include transform(matrix(0.99,0,0,1,0,2));
        @include opacity(.7);

    }

    40% {
        @include transform(matrix(1,0,0,1,0,-1));
        @include opacity(1);
    }

    70% {
        @include transform(matrix(1,0,0,1,0,0));
        @include opacity(1);
    }

    100% {
        @include transform(matrix(1,0,0,1,0,0));
        @include opacity(1);

    }
}

