@import "compass/css3";
@import "clearfix";

$bgcolor: #242424;
$button_size: 50px;

.medium-editor-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    background: $bgcolor;
    font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    @include border-radius(5px);
    @include box-shadow(0 0 3px #000);

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: $button_size;
        left: 50%;
        margin-left: -8px;
        width: 0;
        height: 0;
        border-width: 8px 8px 0 8px;
        border-color: $bgcolor transparent transparent transparent;
        border-style: solid;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        float: left;
        list-style: none;
        button {
            display: block;
            padding: 15px;
            box-sizing: border-box;
            height: $button_size;
            width: $button_size;
            background: $bgcolor;
            color: #fff;
            border: 0;
            border-right: 1px solid #000;
            border-left: 1px solid #333;
            border-left: 1px solid rgba(#fff, .1);
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
            @include box-shadow(0 2px 2px rgba(0,0,0,0.3));
            @include transition(background-color .2s ease-in);
            &:hover {
                color: yellow;
                background-color: #000;
            }
        }
        .medium-editor-button-active {
            background-color: #000;
            color: #fff;
        }
        &:first-child {
            button {
                @include border-top-left-radius(5px);
                @include border-bottom-left-radius(5px);
            }
        }
        &:last-child {
            button {
                @include border-top-right-radius(5px);
                @include border-bottom-right-radius(5px);
            }
        }
        .medium-editor-action-underline {
            text-decoration: underline;
        }
    }
}

.medium-editor-action-bold {
    font-weight: bolder;
}

.medium-editor-action-italic {
    font-style: italic;
}

.medium-editor-toolbar-form-anchor {
    display: none;
    color: #999;
    input, a {
        font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
    }
    input {
        box-sizing: border-box;
        padding: 6px;
        height: $button_size;
        width: 316px;
        background: $bgcolor;
        border: none;
        color: #ccc;
        &:focus {
            outline: 0;
            -moz-appearance: none;
            -webkit-appearance: none;
        }
    }
    a {
        color: #fff;
        font-weight: bolder;
        font-size: 24px;
        display: inline-block;
        margin: 0 10px;
        text-decoration: none;
    }
}
