# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = false
indent_style = space
indent_size = 4

[*.json]
indent_size = 2

[.*rc]
indent_size = 2
