section.debug

	div.sizeSmall
		h1 small

	div.size480
		h1 480

	div.size600
		h1 600

	div.size768
		h1 768

	div.size992
		h1 992

	div.size1382
		h1 1382

	div.size1600
		h1 1600

	div.size2000
		h1 2000s