section.attributions
	div
		h2 Made with
		div
		| <video autoplay loop width="200" height="200"><source src="./img/attributions/heart.webm" type="video/mp4"><img src="./img/attributions/heart.jpg" title="Your browser does not support the <video> tag"></video>
		h3 by #[a(href="http://daviferreira.com") Davi], Jeremy, Nate, Noah & #[a(href="http://www.timkl.com/") Tim] + #[a(href="https://github.com/yabwe/medium-editor/graphs/contributors") people around the world]
