a(name="documentation")
section.documentation
	h2 Documentation
		p
			a(href="https://gitter.im/yabwe/medium-editor?utm_source=badge&amp;utm_medium=badge&amp;utm_campaign=pr-badge&amp;utm_content=badge")
				img(src="https://camo.githubusercontent.com/da2edb525cde1455a622c58c0effc3a90b9a181c/68747470733a2f2f6261646765732e6769747465722e696d2f4a6f696e253230436861742e737667" alt="Join the chat at https://gitter.im/yabwe/medium-editor" data-canonical-src="https://badges.gitter.im/Join%20Chat.svg" style="max-width:100%;")

	div.documentation-container
		div.documentation-container-col
			a(href="https://github.com/yabwe/medium-editor/blob/master/API.md") MediumEditor API <br />
			a(href="https://github.com/yabwe/medium-editor/blob/master/OPTIONS.md") Options <br />
			a(href="https://github.com/yabwe/medium-editor/blob/master/CUSTOM-EVENTS.md") Custom Events <br />
			a(href="https://github.com/yabwe/medium-editor/blob/master/src/js/extensions/README.md") Extensions <br />

		div.documentation-container-col
			a(href="https://github.com/yabwe/medium-editor/blob/master/src/js/extensions/WALKTHROUGH-EXTENSION.md") Building an Extension<br />
			a(href="https://github.com/yabwe/medium-editor/blob/master/src/js/extensions/WALKTHROUGH-BUTTON.md") Building a Button<br />
			a(href="https://github.com/yabwe/medium-editor/wiki/Wrappers-and-Integration") Integrating with frameworks<br />
			a(href="https://github.com/yabwe/medium-editor/wiki/v4.x.x-README") v4.0.0<br />


	p Find the full documentation at #[a(href="https://github.com/yabwe/medium-editor/wiki") github.com/yabwe/medium-editor/wiki]
