section.extensions
	h2 Extensions
	div.extensions-container
		div.extensions-container-col
			article
				h3 <img src="./img/extensions/icon-extension.svg" /> Image Upload
				p.author
					img(src="//avatars2.githubusercontent.com/u/312938?v=3&s=20")
					span by #[a(href="//github.com/orthes") Pavel Linkesch]
				p Pavel Linkesch has developed a jQuery plugin to upload images & embed content (from Twitter, Youtube, Vimeo, etc.) following Medium.com functionality. Check it out at #[a(href="http://orthes.github.io/medium-editor-insert-plugin") orthes.github.io/medium-editor-insert-plugin].

			article
				h3 <img src="./img/extensions/icon-extension.svg" /> Markdown
				p.author
					img(src="//avatars1.githubusercontent.com/u/2864371?v=3&s=20")
					span by #[a(href="https://github.com/IonicaBizau") Ionică Bizău]
				p Ionică Bizău has created a Medium Editor extension, named Medium Editor Markdown, to add the functionality to render the HTML into Markdown code. Check it out at #[a(href="https://github.com/IonicaBizau/medium-editor-markdown") github.com/IonicaBizau/medium-editor-markdown].

			article
				h3 <img src="./img/extensions/icon-extension.svg" /> MultiPlaceholders
				p.author
					img(src="//avatars1.githubusercontent.com/u/891585?v=3&s=20")
					span by #[a(href="https://github.com/smiled0g") Kasi Chonpimai]
				p Kasi Chonpimai has created an enhanced placeholder plugin which enables users to add multiple placeholders with specific HTML tags. Check it out here: #[a(href="https://github.com/smiled0g/medium-editor-multi-placeholders-plugin") github.com/smiled0g/medium-editor-multi-placeholders-plugin]

		div.extensions-container-col
			article
				h3 <img src="./img/extensions/icon-extension.svg" /> Tables
				p.author
					img(src="//avatars2.githubusercontent.com/u/12655868?v=3&s=20")
					span by #[a(href="") yabwe]
				p A tables support extension is available at #[a(href="//github.com/yabwe/medium-editor-tables") github.com/yabwe/medium-editor-tables].

			article
				h3 <img src="./img/extensions/icon-extension.svg" /> Inserting custom HTML
				p.author
					img(src="//avatars1.githubusercontent.com/u/2864371?v=3&s=20")
					span by #[a(href="https://github.com/IonicaBizau") Ionică Bizău]
				p At @jillix, Ionică Bizău developed a Medium Editor extension that allows inserting custom HTML into the editor. Check it out here: #[a(href="https://github.com/jillix/medium-editor-custom-html") github.com/jillix/medium-editor-custom-html].

			article
				h3 <img src="./img/extensions/icon-extension.svg" /> MediumButton
				p.author
					img(src="//avatars1.githubusercontent.com/u/8338465?v=3&s=20")
					span by #[a(href="https://github.com/arcs-") Patrick Stillhart]
				p Patrick Stillhart developed a new and improved way to add buttons to our toolbar. With it you can add HTML or javascript buttons. Check it out at: #[a(href="https://github.com/arcs-/MediumButton") #{"github.com/arcs-/MediumButton"}]
