a(name="extensions")
section.extensions
	h2 Extensions
	div.extensions-container
		div.extensions-container-col
			article
				h3 <img src="./img/extensions/icon-extension.svg" /> Image Upload
				p.author
					img(src="//avatars2.githubusercontent.com/u/312938?v=3&s=20")
					span by #[a(href="//github.com/orthes") Pavel Linkesch]
				p Pavel Linkesch has developed a jQuery plugin to upload images & embed content (from Twitter, Youtube, Vimeo, etc.) following Medium.com functionality. Check it out at #[a(href="http://orthes.github.io/medium-editor-insert-plugin") orthes.github.io/medium-editor-insert-plugin].

			article
				h3 <img src="./img/extensions/icon-extension.svg" /> Markdown
				p.author
					img(src="//avatars1.githubusercontent.com/u/2864371?v=3&s=20")
					span by #[a(href="https://github.com/IonicaBizau") Ionică Bizău]
				p Ionică Bizău has created a Medium Editor extension, named Medium Editor Markdown, to add the functionality to render the HTML into Markdown code. Check it out at #[a(href="https://github.com/IonicaBizau/medium-editor-markdown") github.com/IonicaBizau/medium-editor-markdown].

			article
				h3 <img src="./img/extensions/icon-extension.svg" /> MultiPlaceholders
				p.author
					img(src="//avatars1.githubusercontent.com/u/891585?v=3&s=20")
					span by #[a(href="https://github.com/smiled0g") Kasi Chonpimai]
				p Kasi Chonpimai has created an enhanced placeholder plugin which enables users to add multiple placeholders with specific HTML tags. Check it out here: #[a(href="https://github.com/smiled0g/medium-editor-multi-placeholders-plugin") github.com/smiled0g/medium-editor-multi-placeholders-plugin].

			article
				h3 <img src="./img/extensions/icon-extension.svg" /> Auto List Creation
				p.author
					img(src="//avatars1.githubusercontent.com/u/3992409?v=3&s=20")
					span by #[a(href="https://github.com/varun-raj") Varun Raj]
				p Varun Raj developed an extention that automatically converts ( 1. Space ) to ordered list and ( * Space ) to unordered list if the corresponding base extensions are enabled. Check it out here: #[a(href="https://github.com/varun-raj/medium-editor-autolist") github.com/varun-raj/medium-editor-autolist].

			article
				h3 <img src="./img/extensions/icon-extension.svg" /> List Extension
				p.author
					img(src="//avatars1.githubusercontent.com/u/5694642?v=3&s=20")
					span by #[a(href="https://github.com/mkawczynski07") Marek Kawczyński]
				p Marek Kawczyński has created an extension which adds a button to the toolbar for inserting customized paragraphs into the editor. You can find the project on #[a(href="https://www.npmjs.com/package/medium-editor-list") npm] and the source code at #[a(href="https://github.com/mkawczynski07/medium-editor-list") #{"github.com/mkawczynski07/medium-editor-list"}].

		div.extensions-container-col
			article
				h3 <img src="./img/extensions/icon-extension.svg" /> Tables
				p.author
					img(src="//avatars2.githubusercontent.com/u/12655868?v=3&s=20")
					span by #[a(href="") yabwe]
				p A tables support extension is available at #[a(href="//github.com/yabwe/medium-editor-tables") github.com/yabwe/medium-editor-tables].

			article
				h3 <img src="./img/extensions/icon-extension.svg" /> Inserting custom HTML
				p.author
					img(src="//avatars1.githubusercontent.com/u/2864371?v=3&s=20")
					span by #[a(href="https://github.com/IonicaBizau") Ionică Bizău]
				p At @jillix, Ionică Bizău developed a Medium Editor extension that allows inserting custom HTML into the editor. Check it out here: #[a(href="https://github.com/jillix/medium-editor-custom-html") github.com/jillix/medium-editor-custom-html].

			article
				h3 <img src="./img/extensions/icon-extension.svg" /> MediumButton
				p.author
					img(src="//avatars1.githubusercontent.com/u/8338465?v=3&s=20")
					span by #[a(href="https://github.com/arcs-") Patrick Stillhart]
				p Patrick Stillhart developed a new and improved way to add buttons to our toolbar. With it you can add HTML or javascript buttons. Check it out at: #[a(href="https://github.com/arcs-/MediumButton") #{"github.com/arcs-/MediumButton"}].

			article
				h3 <img src="./img/extensions/icon-extension.svg" /> TCMention for @username or #tags
				p.author
					img(src="//avatars1.githubusercontent.com/u/922234?v=3&s=20")
					span by #[a(href="https://github.com/tomchentw") Tom Chen]
				p Tom Chen has built this extension to add mention support that came from Medium 2.0. It also allows users to customize the mention panel for their favor. It's available on #[a(href="https://www.npmjs.org/package/medium-editor-tc-mention") npm] and an #[a(href="https://github.com/tomchentw/medium-editor-tc-mention#umd-version") UMD] version as well. Check out the demo and source code at: #[a(href="https://github.com/tomchentw/medium-editor-tc-mention") #{"github.com/tomchentw/medium-editor-tc-mention"}].

			article
				h3 <img src="./img/extensions/icon-extension.svg" /> Handsontable
				p.author
					img(src="//avatars1.githubusercontent.com/u/868249?v=3&s=20")
					span by #[a(href="https://github.com/asselinpaul") Paul Asselin]
				p Paul Asselin has created an extension to add handsontable spreadsheets to MediumEditor. It's available on #[a(href="https://www.npmjs.com/package/medium-editor-handsontable") npm] and the source code is at #[a(href="https://github.com/asselinpaul/medium-editor-handsontable") #{"github.com/asselinpaul/medium-editor-handsontable"}].
