section.installation
	div
		h2 Installation

		div.install-type.npm
			h3 Via npm
			div.install-wrapper
				a.copy(href="#" data-clipboard-target="#npm")
				code#npm <span class="color-1">npm</span> install <span class="color-2">medium-editor</span>

		div.install-type.bower
			h3 Via bower
			div.install-wrapper
				a.copy(href="#" data-clipboard-target="#bower")
				code#bower <span class="color-1">bower</span> install <span class="color-2">medium-editor</span>

		div.install-type.cdn
			h3 CDN / jsdelivr
			div.install-wrapper
				a.copy(href="#" data-clipboard-target="#cdn")
				pre#cdn &lt;<span class="color-2">script</span> <span class="color-1">src</span>="//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"&gt;&lt;/<span class="color-2">script</span>&gt;
						| &lt;<span class="color-2">link</span> <span class="color-1">rel</span>="stylesheet" <span class="color-1">href</span>="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css" <span class="color-1">type</span>="text/css" <span class="color-1">media</span>="screen" <span class="color-1">charset</span>="utf-8"&gt;

		div.install-type.browser
			h3 Self-hosted &middot; <a href="https://github.com/yabwe/medium-editor/archive/master.zip">Download files <span class="arrow">&dArr;</span></a>
			div.install-wrapper
				a.copy(href="#" data-clipboard-target="#download")
				pre#download &lt;<span class="color-2">script</span> <span class="color-1">src</span>="js/medium-editor.js"&gt;&lt;/<span class="color-2">script</span>&gt;
						| &lt;<span class="color-2">link</span> <span class="color-1">rel</span>="stylesheet" <span class="color-1">href</span>="css/medium-editor.css"&gt;
						| &lt;<span class="color-2">link</span> <span class="color-1">rel</span>="stylesheet" <span class="color-1">href</span>="css/themes/default.css"&gt;

		div.install-type.usage
			h3 Usage
			div.install-wrapper
				a.copy(href="#" data-clipboard-target="#usage")
				pre#usage &lt;<span class="color-2">div <span class="color-1">class</span>="editable"</span>&gt;&lt;/<span class="color-2">div</span>&gt;
						| &lt;<span class="color-2">script</span>&gt;var editor = new MediumEditor('.editable');&lt;<span class="color-2">/script</span>&gt;
