a(name="selling-points")
section.selling-points
	ul.animated.fadeIn
		li
			include ../img/selling-points/javascript.svg
			span Pure javascript.<br />No libraries!
		li
			include ../img/selling-points/lightweight.svg
			span Lightweight:<br />~28kB gzipped.
		li
			include ../img/selling-points/globe-2.svg
			span Chrome, Firefox,<br />Safari, IE, &amp; Edge support
