section.selling-points
	ul.animated.fadeIn
		li
			include ../img/selling-points/javascript.svg
			span Pure javascript.<br />No jQuery!
		li 
			include ../img/selling-points/lightweight.svg
			span Lightweight:<br />5kB minified.
		li
			include ../img/selling-points/globe-2.svg
			span Chrome, Firefox,<br />Safari &amp; IE support
