section.splash
	div.content.animated.fadeIn
		h1 Medium<span>Editor</span>
		div#toolbar-placeholder.toolbar-placeholder
		div.editable
			p The dead simple inline editor toolbar.
			p
				span.highlight.animated.shake Try highlighting this text.
		p.demo
			a(href="https://yabwe.github.io/medium-editor/demo.html" target="_blank") Or check the full demo.
