a(name="themes")
section.themes
	div
		h2 Themes
		p#theme-links Choose between #[a(href="#" data-index="1" class="active") Mani], #[a(href="#" data-index="2") Roman], #[a(href="#" data-index="3") Flat], #[a(href="#" data-index="4") Bootstrap], #[a(href="#" data-index="5") Tim] &amp; #[a(href="#" data-index="6") Beagle].
		div.theme-carousel-wrapper
			div.theme-carousel#theme-carousel
				div.theme(data-index="1")
					img(src="./img/themes/mani.jpg")
				div.theme(data-index="2")
					img(src="./img/themes/roman.jpg")
				div.theme(data-index="3")
					img(src="./img/themes/flat.jpg")
				div.theme(data-index="4")
					img(src="./img/themes/bootstrap.jpg")
				div.theme(data-index="5")
					img(src="./img/themes/tim.jpg")
				div.theme(data-index="6")
					img(src="./img/themes/beagle.jpg")
