a(name="who-is-using-it")
section.who-is-using
	h2 Who is using it?
	div.who-is-using-container
		div.who-is-using-container-row
			article
				a(href="http://www.vistaprint.com")
					img(src="./img/who-is-using-it/vistaprint.png")
			article.no-padding
				a(href="http://www.lexpress.fr")
					include ../img/who-is-using-it/lexpress.svg
			article
				a(href="http://www.intertwine.it/")
					img(src="./img/who-is-using-it/intertwine.png")
		div.who-is-using-container-row
			article
				a(href="http://awesomi.com")
					img(src="./img/who-is-using-it/awesomi.png")
			article
				a(href="https://www.doctant.com/")
					img(src="./img/who-is-using-it/doctant.png")
			article
				a(href="http://nusii.com/")
					img(src="./img/who-is-using-it/nusii.png")
		div.who-is-using-container-row
			article
				a(href="https://scrivito.com/")
					img(src="./img/who-is-using-it/scrivito.png")
			article
				a(href="http://wandest.com/trip/6g")
					img(src="./img/who-is-using-it/wandest.png")
			article
				a(href="http://www.pointpoint.co/")
					img(src="./img/who-is-using-it/pointpoint.png")
		div.who-is-using-container-row
			article
				a(href="http://www.maytok.com/")
					img(src="./img/who-is-using-it/maytok.png")
			article
				a(href="http://www.prismamedia.com/")
					img(src="./img/who-is-using-it/prismamedia.png")
			article
				a(href="https://dokie.li/")
					img(src="./img/who-is-using-it/dokieli.png")
		div.who-is-using-container-row
			article
				a(href="http://www.drift.com/")
					img(src="./img/who-is-using-it/drift.png")
