.medium-editor-placeholder {
    position: relative;

    &:after {
        content: attr(data-placeholder) !important;
        font-style: italic;
        left: 0;
        position: absolute;
        top: 0;
        white-space: pre;
    }
}
