.medium-editor-toolbar-form {
    display: none;

    input,
    a {
        font-family: $font-sans-serif;
    }

    .medium-editor-toolbar-input,
    label {
        border: none;
        box-sizing: border-box;
        font-size: 14px;
        margin: 0;
        padding: 6px;
        width: 316px;

        &:focus {
            appearance: none;
            border: none;
            box-shadow: none;
            outline: 0;
        }
    }

    label {
        display: block;
    }

    a {
        display: inline-block;
        font-size: 24px;
        font-weight: bolder;
        margin: 0 10px;
        text-decoration: none;
    }
}
